*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: lightgrey;
    color: #333333 ;
    /* or the desired background color */
}

/*create boxes for div tags to control info display on page*/
.Mainbox {
    width: 1000px;
    background-color: white;
    border: 1px solid red;
    padding: 10px;
    text-align: left;
    color: #333333
}

.headertext{
    /*background-color: rgb(7, 77, 7);*/
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(7, 77, 7, 0.5));*/
    width: 980px;
    color: white; 
    margin: 0;
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.headertext h1 {
    margin: 0;
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
}


h1,h2,h3{
    font-family: Arial;
    color:black ;
    font-weight: bold;
}
p {
    font-family: sans-serif;
    font-size: 13px;
    color: #333333;
    font-weight: bold;
}

/*links*/

.navbox {
    width: 980px;
    text-decoration: none;
    border: 1px solid rgb(43, 255, 0);
    padding: 10px;
    text-align: center;
    background-color: green;
    color: #FFFFFF;
    margin-top: 0;
    margin: 0 auto; /* Add this line to center the navbox horizontally */

}
nav a:link{
    display: inline-block; /* Change 'block' to 'inline-block' */
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-right: 10px;/* Add this line to provide some spacing between the links */
}
nav a:visited {
    color: white;
    font-size: 30px;
}
nav a:hover {
    color: blue;
    font-size: 30px;
    text-decoration: none;
}

/*create boxes for div tags to control info display on page*/
/* .Mainbox {
    width: 1000px;
    border:1px solid red;
    padding: 10px;
    text-align: left;
} */


.footerright{
    width: 489px;
    text-align: right;
    float:right;
    border: 1px solid black;
    padding: 10px;
}
.footerleft {
    width: 489px;
    text-align: left;
    float: left;
    border: 1px solid black;
    padding: 10px;
}

.footermain

/* header {
    background-image: url("images/home1949.jpg");
    background-size: cover;
    background-position: center;
} */


.glassmorphism-container {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    width: 100px;
}

.glassmorphism-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.neumorphism {
    borderRadius: 50px;
    webkitBorderRadius: 50px;
    background: rgb(241, 241, 242);
    boxShadow: 12px 12px 24px #262626, -12px -12px 24px #ffffff WebkitBoxShadow: 12px 12px 24px #262626, -12px -12px 24px #ffffff minWidth: 250px;
    minHeight: 250px;
}