{% extends 'base.html' %}

{% block content%}

   <div class="second-box">
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
  </div>
   <div class="second-box">
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
  </div>
   <div class="second-box">
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
  </div>
   <div class="second-box">
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
  </div>
   <div class="second-box">
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
  </div>
   <div class="second-box">
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
    <div class="sub-box"></div>
  </div>



 
{% endblock %}